.rectangle-widget, .rectangle-widget * {
    cursor: default;
}

.rectangle-widget {
    position: relative;
}

.rectangle-widget div:not(.rectangle) {
    width: 100%;
    text-align: center;
    padding: 5px 0;
    font-family: var(--body-font);
    color: var(--off-white);
}

.rectangle {
    width: 250px;
    border: 1px solid var(--border-default);
    font-family: var(--body-font);
    color: var(--text-primary);
    font-size: 32px;
    background-color: var(--bg-surface);
    padding: 5px;
}

.rectangle.waiting {
    border-color: var(--neutral)
}

.rectangle.good {
    border-color: var(--good)
}

.rectangle.bad {
    border-color: var(--bad)
}
