@import "./constants/palette.css";
@import "./constants/fonts.css";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--body-font);
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: unset;
    font-smooth: never;
    image-rendering: pixelated;

    background-color: var(--darkblue);
    color: var(--off-white);
    overflow-x: hidden;
    overflow-y: hidden;
    transition: background-color 0.15s, color 0.15s;
}

code {
    font-family: "IBM Plex Mono", source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
