Flask==3.0.3
flask-cors==5.0.1
gevent==24.2.1
gevent-websocket==0.10.1
numpy==1.26.4
opencv-python-headless==4.9.0.80
psutil==5.9.8
PyAudio==0.2.14
pycryptodome==3.20.0
python-socketio==5.11.2
requests==2.31.0
